article#banner {
  display: grid;
  place-items: center;
  height: max(100vh, 700px);
  width: 100%;
  overflow-x: hidden;
  background: none;
  grid-template-rows: 30% 60% 5%;
  background: linear-gradient(-45deg, #451367, #000000, #000000, #451367);
  background-size: 400% 400%;
  animation: gradient 15s ease-in-out infinite;
  border-bottom: #451367 solid 0.5px;
  box-shadow: 0px 0px 2rem #451367;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.downToContent {
  font-size: clamp(3rem, 10vw, 10rem);
  text-shadow: 0px 0px 0.75rem rgb(var(--primary-rgb));
  width: fit-content;
  height: 50px;
  background-color: black;
  border: none;
  font-size: 50px;
  animation: arrow 5s infinite linear;
  margin-bottom: clamp(2rem, 2vw, 3rem);
}

@keyframes arrow {
  0% {
    font-size: 50px;
    text-shadow: 0px 0px 0.75rem rgb(var(--primary-rgb));
  }

  50% {
    font-size: 55px;
    text-shadow: 0px 0px 3rem rgb(var(--primary-rgb));
    transform: translateY(10px);
  }

  100% {
    font-size: 50px;
    text-shadow: 0px 0px 0.75rem rgb(var(--primary-rgb));
  }
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
  height: 100%;
  padding: 2.5vh 5vw;
  max-width: 1100px;
}
.screen {
  flex-grow: 1;
  flex-basis: 300px;
  margin: 5px;
  border-radius: 1rem;
  max-height: 50%;
  display: flex;
  border: 3px solid rgb(var(--primary-rgb) / 80%);
  border-radius: 1rem;
  background-color: rgb(var(--primary-rgb) / 15%);
  overflow: hidden;
  position: relative;
  z-index: 10;
}

.screen:after,
.screen:before {
  content: "";
  height: 5px;
  position: absolute;
  z-index: 4;
  left: 50%;
  translate: -50% 0%;
  background-color: white;
}

.screen:before {
  width: 15%;
  top: 0rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.screen:after {
  width: 25%;
  bottom: 0rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

@keyframes pan-overlay {
  from {
    background-position: 0% 0%;
  }

  to {
    background-position: 0% -100%;
  }
}

.screen-overlay {
  background: linear-gradient(
    rgb(var(--primary-rgb) / 0.15),
    rgb(var(--primary-rgb) / 0.15) 3px,
    transparent 3px,
    transparent 9px
  );
  background-size: 100% 9px;
  height: 100%;
  width: 100%;
  animation: pan-overlay 22s infinite linear;
  position: absolute;
  z-index: 2;
  left: 0px;
  top: 0px;
}

.screen > .screen-image {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
  left: 0px;
  top: 0px;
  background-size: 300%;
  background-position: 0% 0%;
  filter: sepia(100%) hue-rotate(160deg);
  opacity: 0.6;
}

.screen > .screen-content {
  display: grid;
  place-items: center;
  flex-grow: 1;
  gap: 4rem;
  position: relative;
  z-index: 3;
  margin: 1rem;
  border: 1px solid rgb(var(--primary-rgb) / 50%);
  border-radius: 0.6rem;

  font-size: 4rem;
  text-shadow: 0px 0px 0.5rem white;
}

.screen-title {
  display: grid;
  place-items: center;

  font-size: clamp(1rem, 2vw, 3rem);

  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  text-align: center;
  width: 100%;
  height: 100%;
}

.screen:hover {
  box-shadow: 0px 0px 1rem white;
}

.remove-atributes {
  font-size: clamp(1rem, 2vw, 3rem);

  border-radius: clamp(0.4rem, 0.75vw, 1rem);
  text-align: center;
  background: none;
  border: none;
  cursor: pointer;

  text-shadow: 0px 0px 0.5rem white;
  text-decoration: underline;
}

@media screen and (orientation: portrait) {
  article#banner {
    grid-template-rows: 22.5% 57.5% 5%;
  }
  .screen-title {
    font-size: clamp(2rem, 3vw, 5rem);
  }

  .remove-atributes {
    font-size: clamp(2rem, 3vw, 5rem);
  }
}
