:root {
  --purple-rgb: 130 39 190;
  --primary-rgb: var(--purple-rgb);
}

* {
  box-sizing: border-box;
}

body {
    display: grid;
    place-items: center;
    height: 90vh;
    background-color: black;
    margin: 0rem;
    overflow: hidden;
    grid-template-rows: 35vh 50vh;
    padding-top: 10vh;
  }

  
  h1 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(3rem, 10vw, 10rem);
    color: white;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-shadow: 0px 0px 0.5rem rgb(var(--primary-rgb));
    margin: 0;
    margin-bottom: clamp(2rem, 2vw, 3rem);
  }

  h2 {
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 2vw, 3rem);
    color: white;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
  }

  section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    height: 60vh;
    padding: 2.5vh 5vw;
    max-width: 1100px;
  }
  .screen {
    flex-grow: 1;
    flex-basis: 300px;
    margin: 5px;
    border-radius: 1rem;
    max-height: 50%;
    display: flex;
    border: 3px solid rgb(var(--primary-rgb) / 80%);
    border-radius: 1rem;
    background-color: rgb(var(--primary-rgb) / 15%);
    overflow: hidden;
    position: relative;
    z-index: 10;
  }
  
  .screen:after,
  .screen:before {
    content: "";
    height: 5px;
    position: absolute;
    z-index: 4;
    left: 50%;
    translate: -50% 0%;
    background-color: white;
  }
  
  .screen:before {
    width: 15%;
    top: 0rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .screen:after {
    width: 25%;
    bottom: 0rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
  }
  
  @keyframes pan-overlay {
    from {
      background-position: 0% 0%;
    }
    
    to {
      background-position: 0% -100%;
    }
  }
  
  .screen-overlay {    
    background: linear-gradient(
      rgb(var(--primary-rgb) / 0.15),
      rgb(var(--primary-rgb) / 0.15) 3px,
      transparent 3px,
      transparent 9px
    );
    background-size: 100% 9px;
    height: 100%;
    width: 100%;
    animation: pan-overlay 22s infinite linear;
    position: absolute;
    z-index: 2;
    left: 0px;
    top: 0px;
  }
  
  @keyframes pan-image1 { 
    
    0% { /* -- View 1 -- */
        background-position: 80% 10%;
        background-size: 300%;
    }
      
    20% {
        background-position: 72% 14%;
        background-size: 300%;
    }

    20.0001% { /* -- View 2 -- */
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    40% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    60% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    80% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    
    80% { /* -- View 5 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    100% {
      background-position: 15% 4%;
      background-size: 300%;
    }
  }

  @keyframes pan-image2 {
    0% { /* -- View 1 -- */
        background-position: 0% 0%;
        background-size: 300%;
    }
    
    20% {
        background-position: 15% 4%;
        background-size: 300%;
    }
    
    20.0001% { /* -- View 2 -- */
        background-position: 80% 10%;
        background-size: 300%;
    }
      
    40% {
        background-position: 72% 14%;
        background-size: 300%;
    }

    40.0001% { /* -- View 3 -- */
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    60% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    80% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    100% {
      background-position: 84% 33%;
      background-size: 300%;
    }
  }
  
  @keyframes pan-image3 {  
    0% {
      background-position: 36% 42%;
      background-size: 200%;
    }
    
    20% {
      background-position: 30% 35%;
      background-size: 200%;
    }
    
    20.0001% { /* -- View 2 -- */
      background-position: 60% 85%;
      background-size: 500%;
    }
    
    40% {
      background-position: 49% 81%;
      background-size: 500%;
    }
    
    40.0001% { /* -- View 3 -- */
      background-position: 80% 42%;
      background-size: 300%;
    }
    
    60% {
      background-position: 84% 33%;
      background-size: 300%;
    }
    
    60.0001% { /* -- View 4 -- */
      background-position: 0% 0%;
      background-size: 300%;
    }
    
    80% {
      background-position: 15% 4%;
      background-size: 300%;
    }
    
    80.0001% { /* -- View 5 -- */
      background-position: 80% 10%;
      background-size: 300%;
    }
    
    100% {
      background-position: 72% 14%;
      background-size: 300%;
    }
  }

  .screen > .screen-image {
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    background-size: 300%;
    background-position: 0% 0%;
    filter: sepia(100%) hue-rotate(160deg);
    opacity: 0.6;
    animation: pan-image1 25s linear infinite;
  }
  
  .screen > .screen-content {
    display: grid;
    place-items: center;
    flex-grow: 1;
    gap: 4rem;
    position: relative;
    z-index: 3;
    margin: 1rem;
    border: 1px solid rgb(var(--primary-rgb) / 50%);
    border-radius: 0.6rem;
    color: white;
    font-size: 4rem;
    text-shadow: 0px 0px 0.5rem white;
  }

  .screen-title {
    display: grid;
    place-items: center;
    font-family: 'Space Mono', monospace;
    font-size: clamp(1rem, 2vw, 3rem);
    color: white;
    border-radius: clamp(0.4rem, 0.75vw, 1rem);
    text-align: center;
    width: 100%;
    height: 100%;
  }

  
  
  .screen:hover {
      box-shadow: 0px 0px 1rem white;
    }
    
    .remove-atributes {
        font-family: 'Space Mono', monospace;
        font-size: clamp(1rem, 2vw, 3rem);
        color: white;
        border-radius: clamp(0.4rem, 0.75vw, 1rem);
        text-align: center;
        background: none;
        border: none;
        cursor: pointer;
        color: white;
        text-shadow: 0px 0px 0.5rem white;
        text-decoration: underline;
    }
    
    @media screen and (orientation: portrait) {
        .screen-title {
            font-size: clamp(2rem, 3vw, 5rem);
        }
    
        .remove-atributes {
            font-size: clamp(2rem, 3vw, 5rem);
        }
    }

  .popup {
    position: relative;
    visibility: collapse;
    z-index: 1000;
    position: absolute;
    width: 400px;
    height: 500px;
    max-height: 80%;
    border-radius: 1rem;
  }

  .popup::backdrop {
    background-color: black;
    opacity: 0.75;
  }

  @keyframes showPopup {
    from {
        height: 0;
        visibility: collapse;
    }
    to {
        height: 500px;
        visibility: visible;
    }
    }

  .popup[open] {
    -webkit-animation: showPopup 1s ease normal;
    animation: showPopup 1s ease normal;
    visibility: visible;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    display: flex;
    position: relative;
  }

  .closePopup {
    top: 2.5px;
    right: 2.5px;
    cursor: pointer;
    position: absolute;
    background: none;
  }

  .closeBtn:hover {
    text-shadow: 0px 0px 0.5rem white;
    text-decoration: underline;
  }

  .closeBtn {
    display: grid;
    place-content: center;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    aspect-ratio: 1/1;
    height: 2rem;
  }

  .popupContent {
      display: flex;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 1rem;
  }

  .popupContextBox {
      background-color: rgb(var(--primary-rgb) / 35%);
      border: rgb(var(--primary-rgb)) solid 1px;
      border-radius: 1rem;
      display: grid;
      place-items: center;
      flex-direction: column;
      width: 100%;
      height: 130px;
      position: relative;
  }

  .popupContentTitle {
      position: absolute;
      top: 0.75rem;
      left: 0.75rem;
      color: white;
      font-size: 1rem;
      text-shadow: 0px 0px 0.5rem white;
  }

  .popupContentText {
      display: grid;
      place-items: center;
      color: white;
      font-size: 1.2rem;
      text-shadow: 0px 0px 0.5rem white;
      width: 100%;
      height: 100%;
  }

  .popupContextBoxHover:hover {
      box-shadow: 0 0 0.5rem white;
  }

  .popupContextLink {
    font-size: 1.2rem;
  }